{% extends "blog/base.html" %}

{% block title %}{{region.title}}{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post_list">
            <div class="date">
                <p>Опубликовано: {{ post.published_date }}</p>
            </div>
            <img src="{{ post.img.url }}" alt="" height="250" width="400">
            <h3><a href="http://127.0.0.1:8000/post/{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.description }}</p>
            
        </div>
    {% endfor %}
    {% include "blog/pagination.html" %}
{% endblock %}

